body {
  font-family: "Montserrat", "Open Sans", "Poppins", "Roboto", "Lato",
    "Source Sans Pro", sans-serif;

  background-color: aliceblue;
  color: #007bff;
  text-align: center;
  overflow-x: hidden;
  margin: 0px;
  padding: 0px;
}

.mask-image {
  width: 100vw;
  top: 0;
  left: 0;
  position: absolute;
  z-index: -1;
  opacity: 0.8;
  background-size: cover;
}

h1 {
  font-weight: 900;
  font-size: xx-large;
  margin: 20px;
  padding: 5px;
  color: #3f0a57;
}
h2{
  color: #ff4b9f;
}
h3 {
  margin: 10px;
  color: #3f0a57;
  font-size: 1.2em;
}

.logo {
  margin-top: 10vw;
  z-index: 1;
  border-radius: 30px;
  transition:
    transform 0.3s,
    box-shadow 0.3s;
  width: 10vw;
  max-width: 100%;
  height: auto;
  box-shadow: 10px 0 20px rgba(0, 0, 0, 0.3);
}


/* card css */


.card {
  width: 40vw;
  padding: 10px;
  border-radius: 15px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  background-color: #ff4b9f;
  color: #fff;
 
  display: flex;
  margin: 0 auto; /* Center the card horizontally */
  margin-top: 20px;
}

.card-container {
  display: block;
  margin-top: 20px;
  text-align: center; /* Center the card-container's content horizontally */
}




p {
  margin-left: 8%;
  margin-right: 8%;
}




.menu {
  
  margin: 2%;
  list-style-type: none;
  display: flex;
  justify-content: center;
  font-weight: bolder;
  text-align: center;
}

.menu li {
  margin: 2px 0;
  background-color: #ff4b9f;
  border-radius: 15px;
  text-decoration: none;
}



.menu li a {
  color: #3f0a57;
}

.menu li a:hover {
  background-color: yellow;
  color: #3f0a57;
}

.login-container {
  background-color: rgba(255, 255, 255, 0.9);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-top: 5%;
}

input[type="text"],
input[type="password"] {
  width: 30%;
  padding: 8px;
  border-radius: 8px;
  border: 1px solid #ccc;
  margin-bottom: 15px;
}

a {
  text-decoration: none;
}

button {
  border: none;
  padding: 10px;
  margin: 5px;
  background-color: #007bff;
  color: yellow;
  width: 20vw;
  border-radius: 13px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #ff4b9f;
}

/* For all divs across all classes */
* div {
  max-width: 100%;
}

/* Media query for phones */
@media screen and (max-width: 767px) {
  * div {
    max-width: 100%;
    text-align: center;
  }

  a {
    text-decoration: none;
    font-weight: 800;
  }

  hr {
    background-color: yellow;
    height: 2px;
    text-align: center;
    width: 80vw;
  }

  h2 {
    font-size: 1em;
    color: #ff4b9f;
    font-weight: 900;
    margin: 5vw;
  }

  .logo {
    margin-top: 5vw;
    width: 20vw;
    max-width: 100%;
    height: auto;
  }


  .card {
    width: 80vw;

  }
}
